<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         syntaxCheck="false">
  <testsuites>
    <testsuite name="Object_Freezer">
      <directory suffix="Test.php">Tests</directory>
    </testsuite>
  </testsuites>

  <php>
    <const name="OBJECT_FREEZER_COUCHDB_HOST" value="localhost"/>
    <const name="OBJECT_FREEZER_COUCHDB_PORT" value="5984"/>
  </php>

  <logging>
    <log type="coverage-html" target="build/coverage" title="Object_Freezer"
         charset="UTF-8" yui="true" highlight="true"
         lowUpperBound="35" highLowerBound="70"/>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
  </logging>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">Object</directory>
       <exclude>
         <file>Object/Freezer/HashGenerator.php</file>
         <file>Object/Freezer/IdGenerator.php</file>
       </exclude>
    </whitelist>
  </filter>
</phpunit>
